[submodule "leonardodimabe/RutValidador-Odoo"]
	path = leonardodimabe/RutValidador-Odoo
	url = git@github.com:leonardodimabe/RutValidador-Odoo.git
	branch = master

[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0

[submodule "dimabe-odoo/FINIQUITO"]
	path = dimabe-odoo/FINIQUITO
	url = git@github.com:dimabe-odoo/FINIQUITO.git
	branch = master

[submodule "dimabe-odoo/Dimabe-FE"]
	path = dimabe-odoo/Dimabe-FE
	url = git@github.com:dimabe-odoo/Dimabe-FE.git
	branch = master

[submodule "martinblech/xmltodict"]
	path = martinblech/xmltodict
	url = git@github.com:martinblech/xmltodict.git
	branch = master

[submodule "dimabe-odoo/facturacion"]
	path = dimabe-odoo/facturacion
	url = git@github.com:dimabe-odoo/facturacion.git
	branch = master

[submodule "KonosCL/webservices_generic"]
	path = KonosCL/webservices_generic
	url = git@github.com:KonosCL/webservices_generic.git
	branch = 12.0

[submodule "dimabe-odoo/moneda"]
	path = dimabe-odoo/moneda
	url = git@github.com:dimabe-odoo/moneda.git
	branch = master

[submodule "dimabe-odoo/moneda1"]
	path = dimabe-odoo/moneda1
	url = git@github.com:dimabe-odoo/moneda1.git
	branch = master
