[submodule "leonardodimabe/RutValidador-Odoo"]
	path = leonardodimabe/RutValidador-Odoo
	url = git@github.com:leonardodimabe/RutValidador-Odoo.git
	branch = master

[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0

[submodule "dimabe-odoo/FINIQUITO"]
	path = dimabe-odoo/FINIQUITO
	url = git@github.com:dimabe-odoo/FINIQUITO.git
	branch = master

[submodule "dimabe-odoo/Dimabe-FE"]
	path = dimabe-odoo/Dimabe-FE
	url = git@github.com:dimabe-odoo/Dimabe-FE.git
	branch = master
